src/WeatherStation.Proxy/.vs/
src/WeatherStation.Proxy/WeatherStation.Proxy/bin/Debug/netcoreapp2.2/appsettings.json
src/WeatherStation.Proxy/WeatherStation.Proxy/bin/Debug/netcoreapp2.2/WeatherStation.Proxy.deps.json
src/WeatherStation.Proxy/WeatherStation.Proxy/bin/
src/WeatherStation.Proxy/WeatherStation.Proxy/obj/project.assets.json
src/WeatherStation.Proxy/WeatherStation.Proxy/obj/
